*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(229, 57%, 11%);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}

body{
    font-family: 'Raleway', 'sans-serif';
    color: white;
    font-size: 14px;

    background-color: hsl(229, 57%, 11%);
    background-image: url("/images/bg-mobile.png");
    background-position: 0 0; 
    background-size: cover;
    background-repeat: no-repeat;
}

.site {
    position: absolute;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    left: 20%;
    top: 33%;
    box-sizing: border-box;

}

.icons{
    width: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
    padding-top: 35px;
    padding-bottom: 45px;
    background-color:hsl(228, 56%, 26%);

    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 180px;
    margin-top: 30px;
}

.logo {
    font-size: 20px;
    padding-left: 10px;
}
.document {
    grid-column: 1/2; 
}
.folder {
    grid-column: 2/3;
}
.cloud {
    grid-column: 3/4;
}

.icon {
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 10px; 
    border-radius: 5px;
    background-color: hsl(229, 57%, 11%);
}

.storage-info{
    position: relative;
    left: 20px;
    padding: 45px 30px;
    width: 60%;
    height: 150px;
    top: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: hsl(228, 56%, 26%);
}

.bar{
    margin-top:1em;
    width: 100%;
    height: 1.3em;
    background-color:hsl(229, 57%, 11%);
    border-radius: 1em;
    position: relative;
}

.absolute-bar{
    width: 81.5%;
    height:1.2em;
    background:linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius:1em;
    position:relative;
}
.btn{
    width: 1.1em;
    height:1.1em;
    border-radius: 50%;
    border:none;
    position: absolute;
    top: 0;
    right:0;
}

.capacity{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.remaining-storage {
    width: 70%;
    height: 50%;
    background-color: #fff;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
    position: absolute;
    left: 15%;
}

.num {
    font-size: 3.5em;
    font-weight: 700;
    padding-right: 1em;
}
.text {
    text-transform: uppercase;
    font-size: 1.2em;
    color: var(--grayish-blue);
    font-weight: bold;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    border-bottom: coral 2px dotted;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-image: url("/images/bg-desktop.png");
        background-position:-50em;
        background-size: cover; 
    }
   
    .site {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 1024px;
    }
    
    .icons {
        width: 45em;
        margin-right: 2em;
    }
    
    .storage-info {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        height: 10em;
        position: relative;
        width: 70em;
    }

    .remaining-storage {
        width: 13em;
        height: 3em;
        padding: 3em;
        position: absolute;
        top: -6.5em;
        left: 47%;
        border-bottom-right-radius: 0;
        padding-right: 1em;
        padding-left: 1em;
    }

    .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 2em solid white;
        border-left: 2em solid transparent;
        top: 7em;
        left: 13em;
    }
}